<div class="container">
    <div class="tracer-page">
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <div class="search-row">
                    <label for="searchbox">Enter the threat info:</label>

                    <div class="input-group">
                        <input id="searchbox" type="text" class="form-control" placeholder="IP, hash, ..." data-bind="searchText">
                        <span class="input-group-btn">
                            <button class="btn btn-default" data-bind="click: onSearchClicked" type="button">Go!</button>
                        </span>
                    </div>
                    <div class="progress-container" data-bind="if: isBusy()">
                        <div class="progress progress-striped active">
                            <div class="progress-bar" style="width: 100%"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4"></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="threaty-status" data-bind="visible: iocs().length && isIocInDb() !== null">
                    <span data-bind="togglebutton: {}"></span>
                    <span>
<!--                        <span>This IOC </span>-->
                        <span>
                            <span data-bind="if: isIocInDb()">Exists</span>
                            <span data-bind="if: !isIocInDb()">Not Exists</span>
                            <span> in database</span>
                        </span>
                    </span>
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="result-part">
                
                <table class="table table-striped table-hover tracer-results">
                    <thead>
                        <tr>
                            <th style="width: 60px"></th>
                            <th style="width: 150px">Source</th>
                            <th style="width: 85px">Malware</th>
                            <th style="width: 110px">Last Update</th>
                            <th>Summary</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: iocs">
                        <tr data-bind="style: {color: status==='threat'?'red': ''}">
                            <td>
                                <i class="fa fa-check" data-bind="css: {'fa-check': status === 'ok', 'fa-warning': status==='threat'}" aria-hidden="true"></i>
                                <span data-bind="togglebutton: {}"></span>
                            </td>
                            <td data-bind="text: sourceName">OTX</td>
                            <td data-bind="text: malwareName">Floky</td>
                            <td data-bind="lastUpdate">2012/05/22</td>
                            <td data-bind="text: summary">
                                Summary about Floky
                            </td>
                        </tr>
                        <!--<tr>
                            <td>
                                <i class="fa fa-check" aria-hidden="true"></i>
                            </td>
                            <td>OTX</td>
                            <td>Floky</td>
                            <td>2012/05/22</td>
                            <td>
                                <span data-bind="togglebutton: {}"></span>
                                Summary about Floky
                            </td>
                        </tr>
                        <tr class="danger">
                            <td>
                                <i class="fa fa-warning" aria-hidden="true"></i>
                            </td>
                            <td>OTX</td>
                            <td>Floky</td>
                            <td>2012/05/22</td>
                            <td>
                                <span data-bind="togglebutton: {}"></span>
                                Summary about Floky
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <i class="fa fa-circle-o-notch fa-spin" aria-hidden="true"></i>
                            </td>
                            <td>OTX</td>
                            <td>Floky</td>
                            <td>2012/05/22</td>
                            <td>
                                <span data-bind="togglebutton: {}"></span>
                                Summary about Floky
                            </td>
                        </tr>-->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
